<ion-card>
  <ion-card-header>
    <div class="header-content">

    <img src="../../assets/yurigol.webp">
    <div class="username">
      yurigol
      <ion-icon name="checkmark-outline"></ion-icon>
    </div>

    <div class="config">
      <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
    </div>

    </div>
  </ion-card-header>
  
  <ion-card-content>
    <img alt="Silhouette of mountains" src="../../assets/yuriprotagonista.jpg" />
    Deus é bom sempre, amém amém amém 🙏🙏🙏
    <div>
      <ion-icon name="heart-outline"></ion-icon>
      <ion-icon name="chatbubble-outline"></ion-icon>

    </div>
  </ion-card-content>
</ion-card>

