ion-card {
  margin: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0; 
  
  ion-card-header {
    width: 100%;
    padding: 5px, 16px;
    

    .header-content {
      width: 100%;
      display: flex;
      align-items: center;
      position: relative;

      .config {
        right: 0;
        position: absolute;
      }

      img {
        width: 40px;
        border-radius: 50%;
        margin-right: 5px;
      }
    }
  }

  ion-card-content {
    padding: 0;
    
  }
}

